
{# PROFILE #}

<div class="flip__box about__box">
	<div class="card">
		<div class="front">
			<img class="lazy"
			     src="{{ LETTER_PLACEHOLDER }}"
			     data-src="{{ profile.about.get_img_url() }}"
			     alt="{{ _('letter') }} {{ profile.about.get_letter_display() }}"
			>
		</div>
		<div class="back before__back__a">
			<div class="back__content">
				<h2>{{ profile.about.header }}!</h2>
				<p>{{ profile.text }}</p>
			</div>
		</div>
	</div>
</div>


{% block extra_inline_styles %}
<style>
.before__back__a::before {
	background-image: url('{{ profile.about.get_img_url() }}');
}
</style>
{% endblock %}
