
{# SCOPE OF WORK #}

<div class="flip__box about__box">
	<div class="card">
		{% set scp=scopes.first() %}
		<div class="front">
			<img
				class="lazy"
				src="{{ LETTER_PLACEHOLDER }}"
				data-src="{{ scp.about.get_img_url() }}"
				alt="{{ _('letter') }} {{ scp.about.get_letter_display() }}"
			>
		</div>
		<div class="back before__back__b">
			<div class="back__content">
				<h2>{{ scp.about.header }}</h2>
				<ul>
					{% for scope in scopes %}
						<li class="scope__wrapper">
							<span class="scope__icon" style="background:url({{ scope.icon_path() }}) no-repeat"></span>
							<span class="scope__text">{{ scope.text }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>


{% block extra_inline_styles %}
<style>
.before__back__b::before {
	background-image: url('{{ scp.about.get_img_url() }}');
}
</style>
{% endblock %}
