
{# SOME FACTS #}

<div class="flip__box about__box">
	<div class="card">
		{% set ff=facts.first() %}
		<div class="front">
			<img
				class="lazy"
				src="{{ LETTER_PLACEHOLDER }}"
				data-src="{{ ff.about.get_img_url() }}"
				alt="{{ _('letter') }} {{ ff.about.get_letter_display() }}"
			>
		</div>
		<div class="back before__back__e">
			<div class="back__content">
				<h2>{{ ff.about.header }}</h2>
				<ul>
					{% for f in facts %}
						<li class="scope__wrapper">
							<span class="scope__icon" style="background:url({{ f.icon_path() }}) no-repeat"></span>
							<span class="scope__text">{{ f.text }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>


{% block extra_inline_styles %}
<style>
.before__back__e::before {
	background-image: url('{{ ff.about.get_img_url() }}');
}
</style>
{% endblock %}
