{% extends "base/index.html" %}

{% block content_wrapper_extra_classes %} aboutme{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://unpkg.com/simplebar@5.1.0/dist/simplebar.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}

{% block meta_social %}
{{ super() }}
<meta property="og:description"  content="{{ meta_description }}" />
<meta property="og:image"        content="{{ request.build_absolute_uri(static('img/social/about_me.jpg')) }}" />
<meta property="og:image:width"  content="1920" />
<meta property="og:image:height" content="1422" />
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/simplebar@5.1.0/dist/simplebar.min.js" defer></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" defer></script>
<script src="{{ static('js/about.min.js') }}" defer></script>
{% endblock %}


{% block about %}

	<div class="about__container">
		<div class="about__top__container">
			{% set LETTER_PLACEHOLDER="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mOMNgYAAO8AkE7ayCwAAAAASUVORK5CYII=" %}
			{% include "about/a.html" %}
			{% include "about/b.html" %}
			{% include "about/o.html" %}
			{% include "about/u.html" %}
			{% include "about/t.html" %}
			{% include "about/m.html" %}
			{% include "about/e.html" %}
		</div>
		<div class="about__bottom__container">
			{% include "about/timeline.html" %}
		</div>
	</div>

{% endblock %}
