
{# ACHIEVEMENTS #}

<div class="flip__box about__box">
	<div class="card">
		{% set ach=achievements.first() %}
		<div class="front">
			<img
				class="lazy"
				src="{{ LETTER_PLACEHOLDER }}"
				data-src="{{ ach.about.get_img_url() }}"
				alt="{{ _('letter') }} {{ ach.about.get_letter_display() }}"
			>
		</div>
		<div class="back before__back__m">
			<div class="back__content">
				<h2>{{ ach.about.header }}</h2>
				<ul>
					{% for a in achievements %}
						<li class="achievement__wrapper">
							<span class="achievement__icon" style="background:url({{ a.icon_path() }}) no-repeat"></span>
							<span class="achievements__text">{{ a.text|safe }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>


{% block extra_inline_styles %}
<style>
.before__back__m::before {
	background-image: url('{{ ach.about.get_img_url() }}');
}
</style>
{% endblock %}
