
{# SKILLS #}

<div class="flip__box about__box">
	<div class="card">
		{% set skil=skills.first() %}
		<div class="front">
			<img
				class="lazy"
				src="{{ LETTER_PLACEHOLDER }}"
				data-src="{{ skil.about.get_img_url() }}"
				alt="{{ _('letter') }} {{ skil.about.get_letter_display() }}"
			>
		</div>
		<div class="back before__back__o">
			<div class="back__content">
				<h2>{{ skil.about.header }}</h2>
				<ul>
					{% for skill in skills %}
						<li class="skill__wrapper">
							<p class="skill__text__wrapper">
								<span class="skill__text">{{ skill }}</span>
								<span class="skill__percent">{{ skill.percentage }}%</span>
							</p>
							<div class="skill__bar__wrapper">
								<span class="skill__bar" style="width: {{ skill.percentage }}%;"></span>
							</div>
						</li>
					{% endfor %}
					{% if languages %}
						<li class="language__title">{{ _("Languages") }}</li>
					{% for lang in languages %}
						<li class="skill__wrapper">
							<p class="skill__text__wrapper">
								<span class="skill__text">{{ lang.text }}</span>
								<span class="skill__percent">{{ lang.percentage }}%</span>
							</p>
							<div class="skill__bar__wrapper">
								<span class="skill__bar" style="width: {{ lang.percentage }}%;"></span>
							</div>
						</li>
					{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>


{% block extra_inline_styles %}
<style>
.before__back__o::before {
	background-image: url('{{ skil.about.get_img_url() }}');
}
</style>
{% endblock %}
