
{# EDUCATION #}

<div class="flip__box about__box">
	<div class="card">
		{% set edu=educations.first() %}
		<div class="front">
			<img
				class="lazy"
				src="{{ LETTER_PLACEHOLDER }}"
				data-src="{{ edu.about.get_img_url() }}"
				alt="{{ _('letter') }} {{ edu.about.get_letter_display() }}"
			>
		</div>
		<div class="back before__back__t">
			<div class="back__content">
				<h2>{{ edu.about.header }}</h2>
				<ul>
					{% for e in educations %}
						<li class="education__wrapper">
							<div class="education__icon" style="background-image:url('{{ e.icon_path() }}')"></div>
							<div class="education__text">
								<span>{{ e.years }}</span>
								<span>{{ e.title }}</span>
								<span>{{ e.university }}</span>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>


{% block extra_inline_styles %}
<style>
.before__back__t::before {
	background-image: url('{{ edu.about.get_img_url() }}');
}
</style>
{% endblock %}
