
{% for entry in timeline_entries %}
	<div class="timeline__entry carousel-cell">
		<div class="timeline__entry__container">
			<div class="timeline__icon"><img src="{{ entry.icon_path() }}" alt=""></div>
			<div class="timeline__year">{{ entry.year }}</div>
			<div class="timeline__content">
				<div class="circle"></div>
				<div class="article__container">
					<article>{{ entry.text|safe }}</article>
				</div>
			</div>
		</div>
	</div>
{% endfor %}