
{# EXPERIENCE #}

<div class="flip__box about__box">
	<div class="card">
		{% set exp=experiences.first() %}
		<div class="front">
			<img
				class="lazy"
				src="{{ LETTER_PLACEHOLDER }}"
				data-src="{{ exp.about.get_img_url() }}"
				alt="{{ _('letter') }} {{ exp.about.get_letter_display() }}"
			>
		</div>
		<div class="back before__back__u">
			<div class="back__content">
				<h2>{{ exp.about.header }}</h2>
				<ul>
					{% for e in experiences %}
						<li class="exp__wrapper">
							<span>{{ e.year }} ({{ e.place }})</span>
							<span>{{ e.job_title }}</span>
							<span>{{ e.job_employer }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>


{% block extra_inline_styles %}
<style>
.before__back__u::before {
	background-image: url('{{ exp.about.get_img_url() }}');
}
</style>
{% endblock %}
