{% extends "base/index.html" %}


{% block extra_styles %}
<link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="">
{% endblock %}

{% block meta_social %}
{{ super() }}
<meta property="og:description"  content="{{ meta_description }}" />
<meta property="og:image"        content="{{ request.build_absolute_uri(static('img/social/travel_map.jpg')) }}" />
<meta property="og:image:width"  content="800" />
<meta property="og:image:height" content="533" />
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" defer
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="{{ static('js/leaflet.curve.min.js') }}" defer></script>
<script id="point-data" type="application/json">{{ data|tojson }}</script>
{#<script type="text/javascript">$(document).ready(function(){const t=function(t){let n=t[0],o=t[1],a=o[1]-n[1],e=o[0]-n[0],s=Math.sqrt(Math.pow(a,2)+Math.pow(e,2)),i=Math.atan2(e,a),r=s/2/Math.cos(.314),c=i+.314,d=r*Math.cos(c)+n[1];return[r*Math.sin(c)+n[0],d]},n=function(t){return function(t){let n="";for(let o of t.postData)n+=`\n\t\t\t<div class="post__container">\n\t\t\t\t<a href="${o.postUrl}">\n\t\t\t\t\t<div class="post__thumbnail">\n\t\t\t\t\t\t<img src="${o.postThumbnailUrl}" alt="">\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class="post__text">\n\t\t\t\t\t\t<h3 class="post__text__title">${o.postTitle}</h3>\n\t\t\t\t\t\t<span class="post__text__year">${o.postYear}</span>\n\t\t\t\t\t</div>\n\t\t\t\t</a>\n\t\t\t</div>\n\t\t\t`;return`\n\t\t<div>\n\t\t\t<div class="popup__container">\n\t\t\t\t<h1 class="header">${t.country}</h1>\n\t\t\t\t<div class="posts__container">${n}</div>\n\t\t\t</div>\n\t\t</div>\n\t\t`}(t)},o=JSON.parse(document.getElementById("point-data").innerHTML),a=Array.from(o,t=>[Number(t.coordinates[0]),Number(t.coordinates[1])]);let e=L.map("mapid").setView([21.505,25.09],3);const s=L.latLng(-90,-180),i=L.latLng(90,180),r=L.latLngBounds(s,i);e.setMaxBounds(r),e.on("drag",function(){e.panInsideBounds(r,{animate:!1})});const c={icon:L.icon({iconUrl:"{{ static('img/icons/svg/travel_map_marker.svg') }}",iconSize:[30,30],iconAnchor:[14,28]})},d={maxWidth:400,minWidth:300};L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png",{attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',minZoom:3,maxZoom:13}).addTo(e);for(let t of o){let o=L.marker(t.coordinates,c).addTo(e),a=n(t);o.bindPopup(a,d)}const l=function(t){let n=[];for(let o=0;o<t.length;o++)o!==t.length-1&&n.push([t[o],t[o+1]]);return n}(a),p={color:"#ec5f5f",weight:2};for(let n of l){let o=t(n);L.curve(["M",n[0],"Q",o,n[1]],p).addTo(e)}});</script>#}
<script>$(document).ready(function(){const t=function(t){return function(t){let n="";for(let o of t.postData)n+=`\n\t\t\t<div class="post__container">\n\t\t\t\t<a href="${o.postUrl}">\n\t\t\t\t\t<div class="post__thumbnail">\n\t\t\t\t\t\t<img src="${o.postThumbnailUrl}" alt="">\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class="post__text">\n\t\t\t\t\t\t<h3 class="post__text__title">${o.postTitle}</h3>\n\t\t\t\t\t\t<span class="post__text__year">${o.postYear}</span>\n\t\t\t\t\t</div>\n\t\t\t\t</a>\n\t\t\t</div>\n\t\t\t`;return`\n\t\t<div>\n\t\t\t<div class="popup__container">\n\t\t\t\t<h1 class="header">${t.country}</h1>\n\t\t\t\t<div class="posts__container">${n}</div>\n\t\t\t</div>\n\t\t</div>\n\t\t`}(t)},n=JSON.parse(document.getElementById("point-data").innerHTML);let o=L.map("mapid").setView([21.505,25.09],3);const a=L.latLng(-90,-180),i=L.latLng(90,180),s=L.latLngBounds(a,i);o.setMaxBounds(s),o.on("drag",function(){o.panInsideBounds(s,{animate:!1})});const e={icon:L.icon({iconUrl:"{{ static('img/icons/svg/travel_map_marker.svg') }}",iconSize:[30,30],iconAnchor:[14,28]})},r={maxWidth:400,minWidth:300};L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png",{attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',minZoom:3,maxZoom:13}).addTo(o);for(let a of n){let n=L.marker(a.coordinates,e).addTo(o),i=t(a);n.bindPopup(i,r)}});</script>
{% endblock %}


{% block content_wrapper_extra_classes %} map{% endblock %}

{% block travel_map %}
	<div id="mapid" style="z-index: 0;"></div>
{% endblock %}

{#<script>#}
{#$(document).ready(function() {#}
{#	const coordinatePairs = function(arr) {#}
{#		// Given an Array of coordinates return adjacent coordinate pairs#}
{#		// In: [#}
{#		//  [lat1, lng1],#}
{#		//  [lat2, lng2],#}
{#		//  [lat3, lng3],#}
{#		// ]#}
{#		// Out: [#}
{#		//  [[lat1, lng1], [lat2, lng2]],#}
{#		//  [[lat2, lng2], [lat3, lng3]],#}
{#		// ]#}
{#		let pairs = [];#}
{#		for (let i = 0; i < arr.length; i++) {#}
{#			if (i !== arr.length - 1) {#}
{#				pairs.push([arr[i], arr[i + 1]]);#}
{#			}#}
{#		}#}
{#		return pairs;#}
{#	};#}
{##}
{#	// Calculate midpoint between two points#}
{#	// credits https://medium.com/@ryancatalani/creating-consistently-curved-lines-on-leaflet-b59bc03fa9dc#}
{#	const calculateMidpoint = function(coords) {#}
{#		// Assumes that coords is an Array of two Numbers (i.e [43.6544, 12.4321])#}
{#		let latlng1 = coords[0],#}
{#			latlng2 = coords[1];#}
{#		let offsetX = latlng2[1] - latlng1[1],#}
{#			offsetY = latlng2[0] - latlng1[0];#}
{#		let r = Math.sqrt(Math.pow(offsetX, 2) + Math.pow(offsetY, 2)),#}
{#			theta = Math.atan2(offsetY, offsetX);#}
{#		let thetaOffset = (3.14 / 10);#}
{#		let r2 = (r / 2) / (Math.cos(thetaOffset)),#}
{#			theta2 = theta + thetaOffset;#}
{#		let midpointX = (r2 * Math.cos(theta2)) + latlng1[1],#}
{#			midpointY = (r2 * Math.sin(theta2)) + latlng1[0];#}
{#		return [midpointY, midpointX];#}
{#	};#}
{##}
{#	// Create the HTML template of the Marker#}
{#	const getTemplate = function(obj) {#}
{#		let postHTML = "";#}
{#		for(let d of obj["postData"]) {#}
{#			postHTML += `#}
{#			<div class="post__container">#}
{#				<a href="${d.postUrl}">#}
{#					<div class="post__thumbnail">#}
{#						<img src="${d.postThumbnailUrl}" alt="">#}
{#					</div>#}
{#					<div class="post__text">#}
{#						<h3 class="post__text__title">${d.postTitle}</h3>#}
{#						<span class="post__text__year">${d.postYear}</span>#}
{#					</div>#}
{#				</a>#}
{#			</div>#}
{#			`#}
{#		}#}
{#		return `#}
{#		<div>#}
{#			<div class="popup__container">#}
{#				<h1 class="header">${obj.country}</h1>#}
{#				<div class="posts__container">${postHTML}</div>#}
{#			</div>#}
{#		</div>#}
{#		`#}
{#	};#}
{##}
{#	// Formats the Marker's text appropriately#}
{#	const prepareText = function(point) {#}
{#		// point is an object holding info about the Point itself & the related blog post#}
{#		return getTemplate(point);#}
{#	};#}
{##}
{#	const data = JSON.parse(document.getElementById('point-data').innerHTML);#}
{#	const coords = Array.from(data, d =>#}
{#		[Number(d["coordinates"][0]), Number(d["coordinates"][1])]#}
{#	);#}
{#	let myMap = L.map('mapid').setView([21.505, 25.09], 3);#}
{#	const southWest = L.latLng(-90, -180);#}
{#	const northEast = L.latLng(90, 180);#}
{#	const bounds = L.latLngBounds(southWest, northEast);#}
{#	myMap.setMaxBounds(bounds);#}
{#	myMap.on('drag', function() {#}
{#		myMap.panInsideBounds(bounds, { animate: false });#}
{#	});#}
{#	const markerIcon = L.icon({#}
{#		iconUrl: "{{ static('img/icons/svg/travel_map_marker.svg') }}",#}
{#		iconSize: [30, 30],#}
{#		iconAnchor: [14, 28],#}
{#	});#}
{#	const markerOptions = {#}
{#		icon: markerIcon,#}
{#	};#}
{#	const popupOptions = {#}
{#		maxWidth: 400,#}
{#		minWidth: 300,#}
{#	};#}
{#	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {#}
{#        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',#}
{#		minZoom: 3,#}
{#		maxZoom: 13,#}
{#    }).addTo(myMap);#}
{#	for(let point of data) {#}
{#		let marker = L.marker(point["coordinates"], markerOptions).addTo(myMap);#}
{#		let htmlText = prepareText(point);#}
{#		marker.bindPopup(htmlText, popupOptions);#}
{#	}#}
{#	const pairs = coordinatePairs(coords);#}
{#	const pathOptions = {#}
{#		color: '#ec5f5f',  // curve line color#}
{#		weight: 2,  // curve line weight#}
{#	};#}
{#	for(let pair of pairs) {#}
{#		let midPoint = calculateMidpoint(pair);#}
{#		L.curve([#}
{#			'M', pair[0], // 1. start from this point#}
{#			'Q', midPoint,  // 3. using this midpoint for the quadratic Bézier curve#}
{#			pair[1]  // 2. finish to this point#}
{#		], pathOptions).addTo(myMap);#}
{#	}#}
{# });#}
{#</script>#}