<!DOCTYPE html>
<html lang="{{ translation.get_language() }}" dir="ltr">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		{% set disableCookie="ga-disable-" + settings.GOOGLE_ANALYTICS_ID %}
		<script>
		  {# https://developers.google.com/analytics/devguides/collection/gtagjs/user-opt-out #}
		  const disableStr = "{{ disableCookie }}";
		  if (document.cookie.indexOf(disableStr + '=true') > -1) {
		  	window[disableStr] = true;
		  }
		  function gaConsent(decision) {
		  	const rest = "; expires=Thu, 31 Dec 2099 23:59:59 UTC; Secure; path=/"
		  	decision
			  ? document.cookie = disableStr + '=false' + rest
			  : document.cookie = disableStr + '=true' + rest;
		  	document.getElementById('cookie__wrapper').style.display = "none";
		  }
		</script>
		{% if request["COOKIES"].get(disableCookie) == "false" %}
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS_ID }}"></script>
			<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', '{{ settings.GOOGLE_ANALYTICS_ID }}');</script>
	    {% endif %}

		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta name='author' content='{{ MARO_NAME }}, {{ MARO_EMAIL }}'>
		{% block meta_description %}
			{% if meta_description %}<meta name="description" content="{{ meta_description }}">{% endif %}
		{% endblock %}
		<meta name="google-site-verification" content="pWeb4gL92Q1OrqO6_x_IhUxAWHmK8rhAVLJOsE9quSc" />
		{% block extra_meta %}{% endblock %}
	    <title>
		    {% block title %}
		        {% if page_title %}{{ page_title }} | {% endif %}{{ SITE_TITLE }}
	        {% endblock %}
	    </title>
		{% block meta_social %}
			<meta name="twitter:card" content="summary" />
			<meta property="og:url" content="{{ request.build_absolute_uri(request.path) }}" />
			<meta property="og:title" content="{{ page_title }}" />
			{% if translation.get_language() == "en" %}
				<meta property="og:locale" content="en_US" />
				<meta property="og:locale:alternate" content="el_GR" />
			{% else %}
				<meta property="og:locale" content="el_GR" />
				<meta property="og:locale:alternate" content="en_US" />
			{% endif %}
		{% endblock %}
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="{{ static('css/fonts.css') }}">
		{% block extra_styles %}{% endblock %}
		{% compress css %}
		<link rel="stylesheet" href="{{ static('css/style.min.css') }}">
		<link rel="stylesheet" href="{{ static('css/responsive.min.css') }}">
		{% endcompress %}
		{% block extra_inline_styles %}{% endblock %}

		<link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" sizes="180x180" >
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<noscript><style>.nav__menu__vertical{display:block;}.simplebar-content-wrapper{overflow: auto;}</style></noscript>
		{% block json_ld %}{% endblock %}
	</head>

	<body>
		{% if disableCookie not in request["COOKIES"] %}{% include "base/cookie_consent.html" %}{% endif %}
		{% block content %}{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.2.0/dist/lazyload.min.js"></script>
		{% compress js %}
		<script src="{{ static('js/jquery-3.4.1.min.js') }}"></script>
		<script src="{{ static('js/main.min.js') }}"></script>
		{% endcompress %}
		{% block extra_js %}{% endblock %}
	</body>
</html>
