<div id="cookie__wrapper">
	<p>{{ _("This website uses <a href='https://policies.google.com/technologies/cookies'>cookies</a> to ensure you get the best experience on our website.") }}</p>
	<a class="consent" href="javascript:gaConsent(false)">{{ _("Decline") }}</a>
	<a class="consent" href="javascript:gaConsent(true)">{{ _("Accept") }}</a>
	<a href="{{ static('files/maroverli_terms_of_use.pdf') }}">{{ _("Terms of use") }}</a>
</div>
