{% extends 'base/base.html' %}


{% block content %}

	<div class="page__container">
		<nav class="nav__menu__vertical">
			<ul>
				{% set url_name=request.resolver_match.url_name %}
				<li class="vertical__portfolio__link text__vertical{% if url_name == 'portfolio' %} current{% endif %}" tabindex="-1"><a href="{{ url('portfolio') }}" title="{{ _('Go to Portfolio page') }}" tabindex="0">PORTFOLIO</a></li>
				<li class="logo" tabindex="-1">
					<a href="{{ url('homepage') }}" title="{{ _('Go to Homepage') }}" tabindex="0">
						<img src="{{ static('img/logo_blank_opt.svg') }}" alt="{{ _('Maro Verli logo') }}" width="50" height="50">
					</a>
				</li>
				<li class="hamburger__menu text__vertical" tabindex="0"><span title="{{ _('Click to open menu') }}">{{ _("MENU") }}</span></li>
			</ul>
		</nav>
		<p class="credits__text">
			<span>{{ _("Developed by") }} <a href="https://alone-djangonaut.com/">manikos</a></span>
		</p>

		{% include "base/menu_overlay.html" %}

		<div class="content__wrapper{% block content_wrapper_extra_classes %}{% endblock %}">
			{% block homepage %}{% endblock %}
			{% block blog %}{% endblock %}
			{% block article %}{% endblock %}
			{% block about %}{% endblock %}
			{% block travel_map %}{% endblock %}
			{% block media_publicity %}{% endblock %}
		</div>
	</div>

	<div class="intro-effect">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="30 -30 580 150" version="1.1">
			<title>Maro Verli letters</title>
			<g id="down" transform="translate(-32.619 87.439)" stroke="#ec2525" stroke-width="3" fill="#ec2525"><path d="m34.119-12.27 9.3008 9.9746v-8.6074l20.1-0.59961v30.764l3.1973 3.4297 5.9023-1.5742v-32.119l20.1-0.60156v27.361l9.1445-2.4375-0.043-25.822c0-5.1-2.5016-7.6016-7.6016-7.6016-3.8 0.1-7.5984 0.4-11.398 1-3.9 0.6-7.7016 1.1016-11.602 1.6016-1.3-1.7-3.3992-2.6016-6.1992-2.6016-3.7 0-7.3004 0.30078-10.9 0.80078-3.6 0.6-7.1988 1-10.799 1.5v-1.9004h-9.2012v7.4336z"/><path d="m 155.21875,1.359375 9.10156,-1.654297 0,-11.808594 c 0,-5.2 -2.60078,-7.798828 -7.80078,-7.798828 l -22.19922,0 c -5.2,0 -7.80078,2.598828 -7.80078,7.798828 l 0,11.400391 8.90039,0 0,-11.5 19.79883,0 0,13.5625 z"/><path d="m 188.61914,19.396484 4.11719,-4.117187 5.08398,-3.013672 0,-23.167969 17,-0.599609 -0.0257,12.845909 9.08824,-4.52169 -0.0625,-9.324219 c 0,-5.1 -2.50156,-7.601563 -7.60156,-7.601563 -3.1,0 -6.19922,0.300782 -9.19922,0.800782 -3.1,0.5 -6.19922,1 -9.19922,1.5 l 0,-1.900391 -9.20117,0 z"/><path d="m244.92-5.8184 9.1992 6.2773v-12.162h20.301v26.018l9.1992 6.2793v-32.596c0-5.2-2.5988-7.8008-7.7988-7.8008h-23.102c-5.2 0-7.7988 2.6008-7.7988 7.8008v6.1836z"/><path d="m360.42773,14.607422 6.66602,6.949219 9.625,-38.958985 -9.29883,0 -6.99219,32.009766z"/><path d="m 336.60547,-10.222656 11.97265,12.480468 -4.25781,-19.660156 -9.5,0 1.78516,7.179688 z"/><path d="m 402.91992,-8.753906 9.09961,8.03125 0,-8.980469 19.80078,0 0,20.300781 -6.97656,0 8.38477,7.400391 4.39062,0 3.09961,-3.300781 0,-24.300782 c 0,-5.2 -2.59883,-7.798828 -7.79883,-7.798828 l -21.90996,0 c -5.2,0 -8.18275,0.08746 -8.12644,5.28715 z"/><path d="m471.02 19.637 9.1992-5.7031v-22.537l17-0.5v12.494l9.0547-5.6133-0.0547-7.9805c0-5.1-2.4996-7.5996-7.5996-7.5996-3.1 0-6.1992 0.30078-9.1992 0.80078-3.1 0.6-6.2012 1-9.2012 1.5v-1.9004h-9.1992v37.039z"/><path d="m533.62-58.502v45.369l9.0996 15.924v-61.293h-9.0996z"/><path d="m573.82-43.902v11.699h9.3984v-11.699h-9.3984z"/><path d="m583.12-5.502v-12h-9.0996v31.754l9.0996-19.754z"/></g>
			<g id="up" transform="translate(-32.619 -32.561)" stroke="#ec2525" stroke-width="3" fill="#ec2525"><path d="m92.719 75.758v31.84h9.2012l-0.0566-34.277-9.1445 2.4375z"/><path d="m63.52 79.262v28.436h9.0996v-26.58l-5.9023 1.5742-3.1973-3.4297z"/><path d="m34.119 47.73v60.066h9.3008v-50.092l-9.3008-9.9746z"/><path d="m155.22 61.359v6.7383h-21.699c-5.2 0-7.8008 2.5988-7.8008 7.7988v24.602c0 5 2.6016 7.5 7.6016 7.5 3.7 0 7.2984-0.30078 10.898-0.80078 3.7-0.5 7.3-1 11-1.5v1.9004h9.1016v-47.893l-9.1016 1.6543zm-20.5 14.037h20.602v23.9l-20.602 0.40039v-24.301z"/><path d="m 218.09641,62.323682 5.82351,0.0728 -0.0371,-5.574218 c -3.21617,1.828524 -3.27564,3.798574 -5.78641,5.501416 z"/><path d="m188.62 79.396v28.4h9.2012v-35.531l-5.084 3.0137-4.1172 4.1172z"/><path d="m244.92 54.182v45.615c0 5.2 2.5988 7.8008 7.7988 7.8008h23.102c5.2 0 7.7988-2.6008 7.7988-7.8008v-19.203l-9.1992-6.2793v25.184h-20.301v-39.039l-9.1992-6.2773z"/><path d="m336.61 49.777 15.014 60.42h8.4004l7.0742-28.641-6.666-6.9492-4.6074 21.09-7.2422-33.439-11.973-12.48z"/><path d="m402.92 51.246v50.951c0 5.2 2.5988 7.8008 7.7988 7.8008h22.201c5.2 0 7.7988-2.6008 7.7988-7.8008v-12.199h-9v12.299h-19.799v-24.299h21.309l-8.3848-7.4004h-12.824v-11.32l-9.0996-8.0312z"/><path d="m497.22 63.391v1.4062h9.1016l-0.0469-7.0195c-3.0182 1.8711-6.0366 3.7422-9.0547 5.6133z"/><path d="m471.02 79.637v30.461h9.1992v-36.164l-9.1992 5.7031z"/><path d="m542.72 62.791-9.0996-15.924v63.131h9.0996v-47.207z"/><path d="m583.12 54.498-9.0996 19.754v35.746h9.0996v-55.5z"/></g>
		</svg>
	</div>

{% endblock %}
