<div class="nav__menu__overlay">
	<div class="menu__overlay__container">
		<div class="btn__close__container close1">
			<button type="button" class="button__close" title="{{ _('Close Menu') }}"></button>
		</div>
		<div class="menu__content__container">
			<div class="logo flip__box" style="--flip-box-size:160px;">
				<div class="card">
					<div class="front">
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" y="0px" x="0px" viewBox="0 0 160 160"><circle stroke-width="2.6846" stroke="#bbb" cy="80" cx="80" r="78.658" fill="none"/><path id="c-rot" d="m80 8.2685c39.606 0 71.732 32.107 71.732 71.732 0 39.624-32.125 71.714-71.732 71.714" stroke="#ec2525" stroke-width="1.4318" fill="none"/><g fill="#bbb" transform="matrix(.17897 0 0 .17897 -.0000032187 -.0000032187)"><path d="m310.9 143.1-139.5 128v-18.5l136.8-125.2h4.2l136.2 125.7v18l-137.7-128zm-139.5 182.5v-18.5l136.8-125.2h4.2l136.3 125.7v18l-137.7-128-139.6 128z"/><path d="m587.6 324.9v18.5l-136.7 125.2h-4.2l-136.3-125.7v-18l137.7 128 139.5-128zm-139.5 182.5 139.5-128v18.5l-136.7 125.2h-4.2l-136.3-125.7v-18l137.7 128z"/><path d="m587.9 143.1-139.6 128v-18.5l136.8-125.2h4.2l136.3 125.7v18l-137.7-128zm-139.6 182.5v-18.5l136.8-125.2h4.2l136.3 125.7v18l-137.7-128-139.6 128z"/></g><path d="m149.44 92.421" stroke="#000" stroke-width=".71588" fill="none"/><g transform="matrix(.17897 0 0 .17897 -.0000032187 -.0000032187)" stroke="#bbb" stroke-width="3" fill="#bbb"><path d="m241.7 657.4h-9.2v-59.2l-20.1 0.6v58.7h-9.1v-59.2l-20.1 0.6v58.7h-9.3v-67.5h9.2v1.9c3.6-0.5 7.2-0.9 10.8-1.5 3.6-0.5 7.2-0.8 10.9-0.8 2.8 0 4.9 0.9 6.2 2.6 3.9-0.5 7.7-1 11.6-1.6 3.8-0.6 7.6-0.9 11.4-1 5.1 0 7.6 2.5 7.6 7.6l0.1 60.1z"/><path d="m304.1 657.4h-9.1v-1.9c-3.7 0.5-7.3 1-11 1.5-3.6 0.5-7.2 0.8-10.9 0.8-5 0-7.6-2.5-7.6-7.5v-24.6c0-5.2 2.6-7.8 7.8-7.8h21.7v-20.3h-19.8v11.5h-8.9v-11.4c0-5.2 2.6-7.8 7.8-7.8h22.2c5.2 0 7.8 2.6 7.8 7.8v59.7zm-9-8.3v-23.9h-20.6v24.3l20.6-0.4z"/><path d="m363.7 612.2h-9.1v-13.9l-17 0.6v58.7h-9.2v-67.5h9.2v1.9c3-0.5 6.1-1 9.2-1.5 3-0.5 6.1-0.8 9.2-0.8 5.1 0 7.6 2.5 7.6 7.6l0.1 14.9z"/><path d="m423.4 649.6c0 5.2-2.6 7.8-7.8 7.8h-23.1c-5.2 0-7.8-2.6-7.8-7.8v-51.8c0-5.2 2.6-7.8 7.8-7.8h23.1c5.2 0 7.8 2.6 7.8 7.8v51.8zm-9.2-0.3v-51.2h-20.3v51.2h20.3z"/><path d="m516.5 592.4-16.7 67.6h-8.4l-16.8-67.6h9.5l11.5 53.1 11.6-53.1h9.3z"/><path d="m580.5 652c0 5.2-2.6 7.8-7.8 7.8h-22.2c-5.2 0-7.8-2.6-7.8-7.8v-51.8c0-5.2 2.6-7.8 7.8-7.8h22.2c5.2 0 7.8 2.6 7.8 7.8v24.3l-3.1 3.3h-25.7v24.3h19.8v-12.3h9v12.2zm-8.9-31.6v-20.3h-19.8v20.3h19.8z"/><path d="m646.1 614.6h-9.1v-13.9l-17 0.5v58.7h-9.2v-67.5h9.2v1.9c3-0.5 6.1-0.9 9.2-1.5 3-0.5 6.1-0.8 9.2-0.8 5.1 0 7.6 2.5 7.6 7.6l0.1 15z"/><path d="m682.5 659.8h-9.1v-108.5h9.1v108.5z"/><path d="m723 577.6h-9.4v-11.7h9.4v11.7zm-0.1 82.2h-9.1v-67.5h9.1v67.5z"/></g></svg>
					</div>
					<div class="back">
						<div class="back__content">
							<img src="{{ static('img/selfie.png') }}" alt="">
						</div>
					</div>
				</div>
			</div>
			<nav>
				<ul>
					{% set url_name=request.resolver_match.url_name %}
					{% set cls="current" %}
					<li class="{% if url_name == 'features' %}{{ cls }}{% endif %}"><a href="{{ url('features') }}">{{ _("Features") }}</a></li>
					<li class="{% if url_name == 'food-photography' %}{{ cls }}{% endif %}"><a href="{{ url('food-photography') }}">{{ _("Food Photography") }}</a></li>
					<li class="{% if url_name == 'special-projects' %}{{ cls }}{% endif %}"><a href="{{ url('special-projects') }}">{{ _("Special Projects") }}</a></li>
					<li class="{% if url_name == 'travel_map' %}{{ cls }}{% endif %}"><a href="{{ url('travel_map') }}">{{ _("Travel Map") }}</a></li>
					<li class="{% if url_name == 'blog' %}{{ cls }}{% endif %}"><a href="{{ url('blog') }}">Blog</a></li>
					<li class="{% if url_name == 'about' %}{{ cls }}{% endif %}"><a href="{{ url('about') }}">{{ _("About Me") }}</a></li>
					<li class="{% if url_name == 'media_publicity' %}{{ cls }}{% endif %}"><a href="{{ url('media_publicity') }}">Media Publicity</a></li>
				</ul>
			</nav>
			<div class="languages">
		        <form class="set_language" action="{{ url('set_language') }}" method="post">
					{% csrf_token %}
			        {% for language in lang_info() %}
		                <input type="radio"
	                       class="languages__input"
	                       id="{{ language.code }}"
	                       name="language"
			                {% if language.code == translation.get_language() %} checked{% endif %}
			               value="{{ language.code }}"
			               onchange="this.form.submit()"
		                >
				        <label
					        class="languages__label lang__{{ language.code }}"
					        for="{{ language.code }}"
					        title="{% if language.code == translation.get_language() %}{{ _('Active language') }}{% else %}{{ _('Change to') }}{% endif %} {{ language.name_local }}"
				        >
				            {{ language.code|upper }}
				        </label>
			        {% endfor %}
			    </form>
		    </div>
			<div class="social">
				<ul class="social-icons__container">
					<li><a href="{{ MARO_FB }}" title="{{ _('Facebook profile') }}"><img src="{{ static('img/icons/svg/facebook_thin.svg') }}" alt="{{ _('Facebook icon') }}"></a></li>
					<li><a href="{{ MARO_INSTA }}" title="{{ _('Linkedin profile') }}"><img src="{{ static('img/icons/svg/linkedin_thin.svg') }}" alt="{{ _('Linkedin icon') }}"></a></li>
					<li><a href="{{ MARO_LI }}" title="{{ _('Instagram profile') }}"><img src="{{ static('img/icons/svg/instagram_thin.svg') }}" alt="{{ _('Instagram icon') }}"></a></li>
					<li><a href="mailto:{{ MARO_EMAIL }}" title="{{ _('Send me an email!') }}"><img src="{{ static('img/icons/svg/mail_thin.svg') }}" alt="{{ _('Email icon') }}"></a></li>
				</ul>
			</div>
		</div>
		<div class="btn__close__container close2">
			<button type="button" class="button__close" title="{{ _('Close Menu') }}"></button>
		</div>
	</div>
</div>
