@media (max-width: 960px) {
	/* Base */
	.page__container {
		grid-template-columns: unset;
		grid-template-rows: var(--menu-bar-width) 1fr;
		grid-template-areas: "menu"
							 "content";
	}

	/* Menu (left-vertical on large scr, top-horizontal on smaller scr) */
	.nav__menu__vertical {
		width: 100vw;
		height: var(--menu-bar-width);
	}
	.nav__menu__vertical ul {
		flex-direction: unset;
		align-items: center;
	}
	.text__vertical {
		writing-mode: unset;
		text-orientation: unset;
	}
	.vertical__portfolio__link::before {
		width: 10rem;
		height: 1px;
		top: 50%;
		left: -160px;
	}
	.vertical__portfolio__link:hover::before {
		top: 50%;
		left: -140px;
		height: 1px;
	}
	.hamburger__menu::after {
		width: 10rem;
		height: 1px;
		left: 42px;
		top: 50%;
		transform: unset;
	}
	.hamburger__menu:hover::after {
		transform: translateX(-1.1rem);
	}
	.nav__menu__vertical .vertical__portfolio__link.current {
		background-image: url("../img/brush.svg");
	}

	/* Credits */
	.credits {
		background: unset;
		width: unset;
		height: unset;
		left: 0;
		cursor: auto;
	}
	.credits .credits__text {
		opacity: 1;
		bottom: 0;
		left: 0;
		background: transparent;
		padding: 0;
		font-size: .8rem;
		text-orientation: upright;
		writing-mode: sideways-lr;
		letter-spacing: .04rem;
		transition: unset;
	}

	/* Homepage */
	.content__wrapper.homepage {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	.homepage__image__wrapper {
		align-items: center;
	}

	.homepage__image__wrapper header {
		transition: unset;
		transform: unset;
		padding-top: 2rem;
	}
	.homepage__image__wrapper:hover header {
		transform: unset;
	}

	/* Article */
	.article__content {
		grid-template-areas: "header"
							 "content"
							 "empty";
		grid-template-rows: calc(100vh - var(--menu-bar-width)) 1fr 50px;
		grid-template-columns: 1fr;
	}

	/* About */
	.about__container {
		grid-template-rows: 50px 1fr 1fr 1rem;
	}
	.about__top__container {
		grid-auto-rows: max-content;
	}

	/* Timeline Nigeria */
	.article__timeline__wrapper::before {
		/* this is the vertical line */
		top: 0;
		left: 1rem;
	}
	.article__timeline__entry .article__timeline__icon {
		left: -3px;
	}
	.article__timeline__entry .article__timeline__content {
		width: auto;
	}
	.article__timeline__entry:nth-child(2n) .article__timeline__content {
		float: none;
	}
}

@media (max-width: 899px) {
	/* Menu Overlay */
	.menu__overlay__container .menu__content__container {
		grid-template-columns: .2fr max-content .2fr;
	}
	.menu__content__container .logo {
		align-self: unset;
	}
	.menu__overlay__container nav {
		height: 100%;
	}
	.menu__content__container nav ul {
		flex-direction: column;
		align-items: center;
		height: inherit;
	}
	.menu__content__container nav li:not(:last-child) {
		margin-right: 0;
	}
	.menu__content__container .languages {
		align-self:end;
	}

	/* Homepage */
	.content__wrapper.homepage {
		grid-template-columns: unset;
		grid-template-rows: repeat(3, 1fr);
	}
}

@media (max-width: 666px) {
	.article__content .article__text .note-video-clip {
		width: 400px;
	}
}

@media (max-width: 600px) {
	/* Menu Overlay */
	.menu__overlay__container {
		grid-template-columns: 50px 1fr 50px;
	}
	.menu__content__container {
		grid-template-rows: 100px 1fr 60px 100px;
	}
	.menu__content__container .logo {
		width: 90px;
		height: 100%;
		margin-top: 1rem;
	}
	/* Portfolio Index */
	.portfolio__content {
		grid-template-rows: auto;
	}
	.portfolio__content header {text-align: left; line-height: 1.2;}
	.menu__content__container nav ul {
		flex-direction: column;
		align-items: center;
		height: inherit;
	}

	/* Article */
	.article__content .article__header .article__header__text {
		font-size: .75rem;
	}
	.pdf__wrapper {
		width: 350px;
	}

	/* Homepage */
	.content__wrapper.homepage {
		grid-template-columns: unset;
		grid-template-rows: repeat(3, 1fr);
	}

	/* About */
	.timeline__content .article__container {
		max-width: 300px;
	}
}

@media (max-width: 470px) {
	/* Portfolio post hover lines */
	.post__preview__wrapper::before, .post__preview__wrapper::after {
		top: .5rem;
		bottom: .5rem;
		left: .5rem;
		right: .5rem;
	}
	.article__content .article__text .note-video-clip {
		width: 270px;
	}

	/* Timeline */
	.timeline__icon,
	.timeline__year {
		display: flex;
		justify-content: center;
	}
	.timeline__icon img,
	.timeline__year {
		position: static;
	}
}

@media (max-width: 450px) {
	.media-publicity__content__section {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}