*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
	font-size: 16px;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	color: var(--text-color);
	background-color: var(--primary-color);
}
body {
	min-height: 100%;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
	content: none;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
a {
	color: var(--highlight-color);
	text-decoration: underline;
	text-decoration-color: var(--highlight-color);
}
h1, h2, h3, h4 {
	font-family: 'Cooper-Hewitt', Helvetica, Arial, sans-serif;
}

html[lang="el"] h1,
html[lang="el"] h2,
html[lang="el"] h3,
html[lang="el"] h4 {
	font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

html[lang="en"] h1,
html[lang="en"] h2,
html[lang="en"] h3,
html[lang="en"] h4 {
	letter-spacing: .1rem;
}


/* Variables */
:root {
	/* primary color*/
	--primary-color: hsl(0, 0%, 12.9%);

	/* secondary color */
	--secondary-color: white;

	/* text color */
	--text-color: hsl(0, 0%, 73.3%);
	--highlight-color: hsl(0, 84%, 53.5%);

	/* widths */
	--menu-bar-width: 80px;
	--border-color-post-title: black;
	--border-width-post-title: 3px;
	--flip-box-size: 250px;

	/* Scrollbar */
	--scrollbar-bg: var(--primary-color);
  	--thumb-bg: var(--highlight-color);
}


/* Base */
.page__container {
	position: relative;
	height: 100%;
	display: none;  /* changes to grid via main.js */
	grid-template-areas: "menu content";
	grid-template-columns: var(--menu-bar-width) 1fr;
}

.content__wrapper {
	grid-area: content;
	display: grid;
}

.no-scroll {overflow: hidden;}

.intro-effect {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	padding: 1rem;
	background: rgb(23, 22, 22);
	top: 0;
	left: 0;
	z-index: 9999;
	transition: opacity .3s linear;
}

.intro-effect svg {
	width: 400px;
}

.intro-effect #down,
.intro-effect #up {
	display: block;
}

.intro-effect.active #down {
	/*transform: translate(0, 22px);*/
	animation: go-up 1.1s ease .6s 1 both;
}

.intro-effect.active #up {
	animation: go-down 1.1s ease .6s 1 both;
	/*transform: translate(0, -38px);*/
}

#cookie__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
	width: 100vw;
	opacity: .85;
}

#cookie__wrapper .consent {margin: 0 .9rem;}

/* Menu (left-vertical on large scr, top-horizontal on smaller scr) */
.nav__menu__vertical {
	display: block;
	position: fixed;
	width: var(--menu-bar-width);
	height: 100vh;
	padding: 1em;
	background-color: var(--primary-color);
	z-index: 1;
}

.nav__menu__vertical ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.nav__menu__vertical .logo {
	width: 50px;
}

.text__vertical {
	text-orientation: upright;
	writing-mode: vertical-lr;
	position: relative;
}

.vertical__portfolio__link::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 12rem;
	background: var(--highlight-color);
	top: -192px;
	left: 10px;
	transition: all .4s ease-in-out;
}

.content__wrapper.homepage a,
.vertical__portfolio__link a,
.menu__content__container nav a,
#mapid.leaflet-container a {
	color: var(--text-color);
	text-decoration: unset;
}

.hamburger__menu::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 11rem;
	background: var(--highlight-color);
	transform: translateY(.1rem);
	left: 10px;
	transition: all .4s ease-in-out;
}

.vertical__portfolio__link:hover::before {
	top: -140px;
}

.hamburger__menu:hover::after {
	transform: translateY(-2rem);
}

.hamburger__menu {
	cursor: pointer;
}

.credits__text {
	position: fixed;
	white-space: nowrap;
	right: 5px;
	bottom: 5px;
	z-index: 1;
}

.credits__text span {
	position: absolute;
	top: 0;
	left: -18px;
	display: inline-block;
	transform: rotate(-90deg);
	transform-origin: 0 0;
	color: var(--text-color);
	font-size: .9rem;
	mix-blend-mode: difference;
}

.credits__text a {
	transition: all .5s linear;
}

.credits__text a:hover {
	filter: hue-rotate(180deg);
}


/* Menu Overlay */
.nav__menu__overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: var(--primary-color);
	z-index: 2;
}

.menu__overlay__container {
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 200px 1fr 160px;
	grid-template-areas: "empty1 nav empty2"
						 "close1 nav close2"
						 "empty3 nav empty4";
	height: 100%;
	justify-items: center;
}

.menu__overlay__container .close1 {
	grid-area: close1;
}

.menu__overlay__container .close2 {
	grid-area: close2;
}

.menu__content__container {
	grid-area: nav;
	display: grid;
	grid-template-columns: .2fr auto .2fr;
	grid-template-rows: 200px 1fr 60px 100px;
	grid-template-areas: "empty1 logo   empty2"
						 "empty1 nav    empty2"
						 "empty1 lang   empty2"
						 "empty1 social empty2";
	justify-items: center;
	align-items: center;
	grid-row-gap: 1rem;
}

.menu__content__container .logo {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-self: end;
	width: 160px;
}

.menu__overlay__container nav {
	grid-area: nav;
	width: 100%;
}

.menu__content__container nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__content__container nav li {
	letter-spacing: .05rem;
	text-align: center;
	text-transform: uppercase;
}

.menu__content__container nav li:not(:last-child) {
	margin-right: 2rem;
}

.menu__content__container nav ul li,
.nav__menu__vertical .vertical__portfolio__link {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.nav__menu__vertical .vertical__portfolio__link.current {
	background-position: left center;
	background-image: url("../img/brush_90.svg");
}

.menu__content__container nav ul li.current {
	background-image: url("../img/brush.svg");
}

.menu__content__container nav a {
	display: inline-block;
}

.menu__content__container nav a::after {
	content: '';
	position: relative;
	display: block;
	height: 1px;
	width: 100%;
	background: var(--highlight-color);
	transform: scaleX(0);
	transform-origin: left center;
	transition: transform 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.menu__content__container nav a:hover::after {
	transform: scaleX(1);
}

.menu__content__container .languages {
	grid-area: lang;
}

.button__close:focus,
.set_language input:focus + label {
	outline: 1px dotted var(--secondary-color);
}
.languages .set_language input:focus {
	outline: none;
}

.languages .set_language input[type=radio] {
	opacity: 0;
}

.languages .set_language label {
	display: inline-block;
	letter-spacing: .06rem;
	font-size: 1.1rem;
}

.languages .set_language input[type=radio]:checked + label {
	border-bottom: 1px solid var(--highlight-color);
	font-weight: 600;
}

.languages .set_language input[type=radio]:not(:checked) + label {
	cursor: pointer;
}

.menu__content__container .social {
	grid-area: social;
}

.social-icons__container {
	display: flex;
}

.social-icons__container li {
	width: 25px;
	margin-right: 2em;
}

.social-icons__container li:last-child {
	margin-right: 0;
}

.btn__close__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button__close {
	border: 0;
	background: url('../img/icons/svg/x.svg') no-repeat center/cover;
	width: 35px;
	height: 35px;
	cursor: pointer;
	transition: all .4s ease-in-out;
}

.button__close:hover {
	transform: rotate(180deg);
}


/* Homepage */
.content__wrapper.homepage {
	grid-template-columns: repeat(3, 1fr);
}

.homepage__image__wrapper {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}

.homepage__image__wrapper header {
	position: relative;
	padding-top: 10rem;
	/*mix-blend-mode: hard-light;*/
	transform: translateY(15vh);
	transition: all .8s ease-in-out;
}

.homepage__image__wrapper header::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 1px;
	top: 0;
	background-color: var(--highlight-color);
}

.homepage__image__wrapper header > h1 {
	letter-spacing: .15rem;
}

.homepage__image__wrapper:hover header {
	padding-top: 2rem;
	transform: translateY(-15vh);
}


/* Portfolio Base */
.content__wrapper.portfolio {
	grid-template-columns: .15fr 1fr .15fr;
	grid-template-areas: "empty1 content_wrapper empty2";
	grid-column-gap: 1em;
}

.portfolio__content {
	grid-area: content_wrapper;
	display: grid;
	grid-template-rows: auto 80px 1fr;
	grid-template-areas: "header"
						 "tags"
						 "content";
	grid-gap: 2em;
}

.portfolio__content header {
	grid-area: header;
	justify-self: center;
	align-self: center;
	padding: 2rem 2rem 0 2rem;
	letter-spacing: .05rem;
	line-height: 1.4;
	text-align: justify;
}

.portfolio__content aside {
	grid-area: tags;
	align-self: end;
}

.portfolio__content main {
	grid-area: content;
	position: relative;
}

.portfolio__content .portfolio__spinner {
	position: absolute;
	top: 20%;
	left: calc(50% - var(--menu-bar-width) - var(--menu-bar-width));
	padding: 1rem;
}

.portfolio__content .portfolio__spinner #half-circle {
	transform-origin: 0 50%;
	animation: rotate 1s linear infinite;
}


/* Portfolio Tags/Filters */
.portfolio__content .tags__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.portfolio__content .tags__container .tag {
	padding: .5rem;
	cursor: pointer;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	margin-right: 1.5rem;
	color: #8a8a8a;
	transition: color .3s ease-in-out;
	font-size: .9rem;
}

.portfolio__content .tags__container .tag:hover,
.portfolio__content .tags__container .tag:focus,
.portfolio__content .tags__container .tag.active{
	color: var(--text-color);
}


/* Portfolio Pictures */
.portfolio__content__posts {
	display: none;
	padding: 0!important;
}

.post__preview__wrapper {
	position: relative;
}


/* Hover effect credits: https://codepen.io/kevinpowell/pen/ZrMzre/ */
.post__preview__wrapper::before,
.post__preview__wrapper::after {
	content: '';
	position: absolute;
	top: 1.25em;
	bottom: 2em;
	left: 1.25em;
	right: 2em;
	opacity: 1;
	transition: transform ease-out 250ms;
}

.post__preview__wrapper::before {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	transform: scale(0, 1);
}

.post__preview__wrapper::after {
	border-left: 1px solid white;
	border-right: 1px solid white;
	transform: scale(1, 0);
}

.post__preview__wrapper:hover::before {
	transform: scale(1.05, 1);
}

.post__preview__wrapper:hover::after {
	transform: scale(1, 1.05);
}

.post__preview__wrapper .post__thumbnail {
	transition: opacity ease-out 250ms;
}

.post__preview__wrapper:hover .post__thumbnail {
	opacity: .4;
}

.post__preview__wrapper .post__text__wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	opacity: 0;
	transition: opacity ease-out 250ms;
	white-space: pre-wrap;
}

.post__preview__wrapper:hover .post__text__wrapper {
	opacity: 1;
}

.post__preview__wrapper .post__title {
	color: white;
}


/* Pagination */
/*.pagination {*/
/*	justify-self: center;*/
/*	align-self: center;*/
/*	display: grid;*/
/*	grid-auto-flow: column;*/
/*	grid-column-gap: 1em;*/
/*}*/

/*.pagination a, .pagination span {*/
/*	padding: .15em .5em;*/
/*}*/

/*.pagination span.current-page {*/
/*	border-bottom: 1px solid black;*/
/*	border-top: 1px solid black;*/
/*}*/


/* Article (common) */
.article__content {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 100vh 1fr 20px;
	grid-template-areas: "header header header"
						 "empty1 content empty2"
						 "empty empty empty";
	grid-row-gap: 3rem;
}

.article__content .article__header {
	grid-area: header;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center 90%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.article__content .article__header .article__header__text {
	padding: 1.5rem;
	color: white;
	background-color: var(--primary-color);
	border-radius: 3px;
	width: 50vw;
}

.article__header__text .header__date-published {
	display: block;
	color: var(--text-color);
	font-style: italic;
	font-size: .85rem;
}

.article__content .article {
	grid-area: content;
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: "subtitle"
						 "gallery"
						 "post_text";
	grid-row-gap: 3rem;
	padding: 2rem;
}

.article__content .article .article__subtitle {
	grid-area: subtitle;
	justify-self: center;
	font-size: 1.7rem;
}

.article__content .article .article__gallery {
	grid-area: gallery;
	/*position: relative;*/
	overflow-x: auto;
}

.article__content .article .article__gallery__wrapper .image-wrapper img {
/*	width: auto;*/
/*	max-width: 700px;*/
	object-fit: contain;
	max-height: 545px;
/*	opacity: 0;*/
}

.article__content .article .article__text {
	grid-area: post_text;
	line-height: 2rem;
	font-size: 1.2rem;
}

.article__content .article__text ul,
.article__content .article__text ol {
	display: flex;
	flex-flow: column;
	padding-left: 2rem;
}

.article__content .article__text ul li {
	list-style: disc;
}

.article__content .article__text ol li {
	list-style: decimal;
}

.article__content .article__text p {
	margin-bottom: 1rem;
}

.article__content .article__text .note-video-clip {
	display: block;
	margin: 0 auto;  /* center video */
	width: 600px;
}

.article__content .article__text img {
	width: auto;
}

.article__content .article__text img.note-float-left {
	margin: 1rem 1rem 1rem 0;
}

.article__content .article__text img.note-float-right {
	margin: 1rem 0 1rem 1rem;
}

.article__content .article__text blockquote {
	position: relative;
    font-weight: 800;
    color: var(--text-color);
    width: 100%;
	padding: 2rem 0;
	max-width: 500px;
    margin: 3rem auto;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.article__content .article__text blockquote::after {
    position: absolute;
    content: "”";
    color: var(--highlight-color);
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
}


/* Article (timeline) */
.article__timeline {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	/*grid-template-rows:   100vh 1fr 20px;*/
	/*grid-template-areas: "header header header"*/
	/*					 "empty1 content empty2"*/
	/*					 "empty empty empty";*/
	/*grid-row-gap: 3rem;*/
}

.article__timeline__wrapper {
	position: relative;
	padding: 2rem 0;
	margin: 2rem 0 2rem 0;
	grid-column: 2 / 3;
}

.article__timeline__wrapper::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 3px;
	background: var(--highlight-color);
}

.article__timeline__wrapper .article__timeline__entry {
	position: relative;
	margin: 2rem 0;
}

.article__timeline__wrapper .article__timeline__entry:nth-child(odd) {
	clear: right;
}

.article__timeline__entry .article__timeline__icon {
	--article-icon-width: 40px;
	position: absolute;
	top: 20px;
	left: calc(50% - 18px);
	width: var(--article-icon-width);
	height: var(--article-icon-width);
	border-radius: 50%;
	box-shadow: 0 0 0 3px var(--highlight-color);
	background-color: #fff;
}

.article__timeline__entry .article__timeline__icon img {
	width: 24px;
	height: 24px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
}

.article__timeline__entry:nth-child(2n) .article__timeline__content {
	float: right;
}

.article__timeline__entry .article__timeline__content {
	position: relative;
	margin-left: 3rem;
	padding: 1em;
	width: 43%;
}

.article__timeline__entry:nth-child(2n) .article__timeline__content {
	margin-right: 3rem;
}

.article__timeline__entry .article__timeline__content .content__heading {
	font-size: 1.8rem;
	color: var(--text-color);
}

.article__timeline__entry .article__timeline__content .content__date {
	display: inline-block;
	margin-bottom: 1.8rem;
	color: var(--text-color);
}

.article__timeline__entry .article__timeline__content img {
	max-width: 300px;
	margin-bottom: 1.7rem;
}

.article__timeline__entry .article__timeline__content .content__text {
	font-size: 1.15rem;
	line-height: 1.5;
}

/* About Me */
.about__container {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 10px .5fr 1fr 1rem;
	grid-template-areas: "empty blank1  empty2"
						 "empty top     empty2"
						 "empty bottom  empty2"
						 "empty blank2  empty2";
}

.about__top__container {
	grid-area: top;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--flip-box-size), 251px));
	grid-column-gap: .5rem;
	grid-row-gap: 1rem;
	justify-items: left;
	align-items: center;
}

.about__bottom__container {
	grid-area: bottom;
}


/* About Me Cards */
.flip__box {
	width: var(--flip-box-size);
	height: var(--flip-box-size);
	position: relative;
	perspective: 1000px;
	overflow: hidden;
}

.flip__box .card {
	position: relative;
	transition: transform .8s;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);
	cursor: pointer;
}

.flip__box .card.is-flipped {
	transform: rotateY(180deg);
}

.flip__box .front,
.flip__box .back {
	position: absolute;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);
}

.flip__box .back {
	transform: rotateY(180deg);
}

.about__box .front img {
	object-fit: contain;
	width: var(--flip-box-size);
	height: var(--flip-box-size);
	opacity: .4;
	transition: all .4s ease-in;
}

.about__box .front img.loaded {opacity: 1;}

.about__box .front::after {
	content: "";
	position: absolute;
	bottom: 2%;
	right: 17%;
	background: var(--secondary-color) url("../img/icons/svg/arrow-right.svg") no-repeat center/contain;
	width: 30px;
	height: 30px;
	transform: rotate(-41deg);
	opacity: .6;
	border-radius: 50%;
	transition: all .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.about__box .front:hover::after {
	opacity: 1;
	right: 10%;
	bottom: 13%;
	transform: rotate(-30deg);
}

.about__box .back::before {
	content: "";
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	top: 15px;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(15px) brightness(.5);
}

.about__box .back .back__content {
	padding: .9rem;
	color: var(--text-color);
}

.about__box .back h2 {
	position: relative;
	border-left: 1px solid var(--highlight-color);
	padding: .3rem 0 0 .4rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

html[lang="el"] .about__box .back h2 {
	padding: .1rem 0 .25rem .4rem;
}

.about__box .back h2::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	background-color: var(--text-color);
	opacity: .4;
}


/* About Me - SCOPE OF WORK */
.about__box .scope__wrapper {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.about__box .scope__wrapper .scope__icon {
	width: 25px;
	height: 20px;
	align-self: center;
}


/* About Me - SKILLS */
.about__box .skill__wrapper {
	width: 100%;
	margin-bottom: 1rem;
}

.about__box .skill__text__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: .3rem;
}

.about__box .skill__text__wrapper .skill__percent {
	font-size: .8rem;
	align-self: flex-end;
}

.about__box .skill__bar__wrapper {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: var(--text-color);
}

.about__box .skill__bar__wrapper .skill__bar {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	height: 2px;
	border-radius: 0 2px 2px 0;
	background-color: var(--highlight-color);
	transition: height .5s ease-in-out;
}

.about__box .skill__wrapper:hover .skill__bar {
	height: 4px;
}

.about__box .language__title {
	font-weight: 600;
	text-decoration: underline;
	margin-bottom: .3rem;
}


/* About Me - Experience */
.about__box .exp__wrapper,
.about__box .education__wrapper {
	position: relative;
	display: flex;
	flex-flow: column;
	padding: 0 0 1rem 1.3rem;
}

.about__box .exp__wrapper::before,
.about__box .education__wrapper::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 5px;
	background-color: var(--highlight-color);
}

.about__box .exp__wrapper::after {
	content: "";
	position: absolute;
	left: -2px;
	top: 3px;
	width: 15px;
	height: 15px;
	background-color: var(--highlight-color);
	border-radius: 50%;
}

.about__box .exp__wrapper span {
	display: block;
	margin-bottom: .2rem;
}


/* About Me - EDUCATION */
.about__box .education__wrapper {
	padding-left: 2rem;
}

.about__box .education__wrapper .education__icon {
	position: absolute;
	top: 0;
	left: -7px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: var(--secondary-color);
	background-repeat: no-repeat;
	background-position: center;
}

.about__box .education__wrapper .education__text {
	display: flex;
	flex-flow: column;
}

/* About Me - ACHIEVEMENTS */
.about__box .achievement__wrapper {
	display: flex;
	margin-bottom: .8rem;
}

.about__box .achievement__icon {
	display: block;
	width: 25px;
	height: 25px;
	flex: 1 0 auto;
	margin-right: .5rem;
}


/* About Me - TIMELINE */
.timeline__entry {
	display: inline-block;
	width: 420px;
}

.timeline__entry__container {
	position: relative;
	display: grid;
	grid-template-rows: 110px 45px 1fr;
	grid-template-columns: 100px 1fr;
	grid-template-areas: "icon empty"
						 "year empty"
						 "content content";
}

.timeline__icon {
	grid-area: icon;
	position: relative;
}

.timeline__icon img {
	position: absolute;
	width: 40%;
	top: 53%;
	left: -.5em;
}

.timeline__year {
	grid-area: year;
	position: absolute;
	left: -.4em;
	font-size: 1.2rem;
	font-weight: 600;
}

.timeline__content {
	grid-area: content;
	position: relative;
	border-top: 3px solid var(--text-color);
}

.timeline__content article {
	position: relative;
	padding: 1em 1em 1.3em 1em;
	border-left: 3px solid var(--highlight-color);
	margin: .5rem 0 0 .5rem;
}

.timeline__content article::after {
	content: "";
	position: absolute;
	background-color: var(--highlight-color);
	width: 80px;
	height: 1px;
	bottom: 0;
}

.timeline__content .article__container {
	height: 100%;
}

.circle {
	position: absolute;
	top: -11px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--primary-color);
	border: 3px solid var(--highlight-color);
}

/* Travel Map */
#mapid .leaflet-popup-content-wrapper,
#mapid .leaflet-popup-tip {
	background-color: var(--primary-color);
}

#mapid.leaflet-container a.leaflet-popup-close-button {
	top: 5px;
	right: 10px;
	font-size: 22px;
}

#mapid.leaflet-container a {
    color: unset;
}

.popup__container {
	display: flex;
	flex-flow: column;
	color: var(--text-color);
}

.popup__container .header {
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--highlight-color);
	text-align: center;
}

.popup__container .posts__container {
	display: flex;
	flex-flow: column;
	overflow-y: auto;
	max-height: 300px;
}

.popup__container .posts__container .post__container {
	padding: 10px;
	border-bottom: 1px solid rgba(238, 238, 238, .1);
}

.popup__container .posts__container .post__container a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popup__container .posts__container .post__thumbnail img {
	object-fit: cover;
	width: auto;
	height: 100px;
}

.popup__container .posts__container .post__text {
	padding: 1rem;
	margin: 0 auto;
}

#c-rot {
	transform-origin: 50% 50%;
	animation: rotate 15s linear infinite;
}


/* Media Publicity */
.media-publicity__content {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header"
						 "content"
						 "empty";
	grid-gap: 5rem;
	justify-items: center;
}

.media-publicity__content header {
	grid-area: header;
	padding: 2rem;
}

.media-publicity__content header h1 {
	text-align: center;
}

.media-publicity__content header p {
	margin-top: 1rem;
}

.media-publicity__content__main {
	grid-area: content;
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	grid-template-areas: "empty1 media_content empty2";
	width: 100%;
}

.media-publicity__content__section {
	display: grid;
	grid-area: media_content;
	grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
	grid-template-rows: max-content;
	grid-gap: 2rem;
}

.media-publicity__content__section .media-publicity__card {
	display: grid;
	grid-template-rows: 100px auto 1fr;
	grid-row-gap: 1rem;
	padding: 1rem;
	background-color: #252626;
	border-radius: .5rem;
	overflow-wrap: anywhere;
	word-wrap: anywhere;
}

.media-publicity__content__section .media-publicity__card iframe,
.media-publicity__content__section .media-publicity__card .pdf__wrapper {
	width: 100%;
	height: 300px;
}

.media-publicity__card .media-publicity__media {
	align-self: flex-end;
}


/* Animations */
@keyframes go-up {
	from {
		transform: translate(0, 90px);
	}
	to {
		transform: translate(0, 60px);
	}
}

@keyframes go-down {
	from {
		transform: translate(0, -40px);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes rotate {
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}


/* PDF Viewer */
.pdf__wrapper {
	width: 500px;
	height: 500px;
	margin: 0 auto;
}


/* Tiny Slider */
#tns1 {
    display: flex;
    align-items: center;
}

.tns-controls {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.tns-controls > button {
	display: flex;
	background: none;
	border: none;
}

.tns-controls > button:first-child {
	margin-right: 2rem;
}

.tns-controls .arrow {
	width: 30px;
	height: 30px;
}

/* Simplebar JS */
.simplebar-scrollbar::before {
	background: var(--highlight-color);
}

/* Simple Lightbox */
.sl-overlay {
	opacity: .9;
	background: var(--primary-color);
}

.sl-wrapper .sl-navigation button,
.sl-wrapper .sl-close, .sl-wrapper .sl-counter {
	color: var(--secondary-color);
}
