{% extends 'admin/change_form.html' %}

{% load static %}
{% load i18n %}
{% load dtl_filters %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript">const $ = django.jQuery;</script>
	<script src="{% static 'js/admin/adminPreviewImage.js' %}"></script>
{% endblock %}


{% block object-tools-items %}
	{% if opts.model_name != "post" %}
	{{ block.super }}
	{% else %}
    <li><a href="{{ absolute_url|alter_lang:'en' }}" class="viewsitelink">{% trans "View on site" %} [EN]</a></li>
    <li><a href="{{ absolute_url|alter_lang:'el' }}" class="viewsitelink">{% trans "View on site" %} [EL]</a></li>
	{% endif %}
{% endblock %}