{% extends "base/index.html" %}

{% block content_wrapper_extra_classes %} homepage{% endblock %}

{% block extra_meta %}
<link rel="canonical" href="https://maroverli.com/" />
{% endblock %}

{% block meta_social %}
{{ super() }}
<meta property="og:description"  content="{{ meta_description }}" />
<meta property="og:image"        content="{{ request.build_absolute_uri(static('img/social/h.png')) }}" />
<meta property="og:image:width"  content="926" />
<meta property="og:image:height" content="1204" />
{% endblock %}


{% block homepage %}
	{% for block in blocks %}
		<a href="{{ block.category.get_absolute_url() }}">
			<div class="homepage__image__wrapper lazy" data-bg="linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, .5)),url('{{ block.image.url }}')">
				{% if block.title %}
					<header>
						<h1>{{ block.title }}</h1>
					</header>
				{% endif %}
			</div>
		</a>
	{% endfor %}
{% endblock %}
