{% extends "base/index.html" %}


{% block extra_styles %}
<link rel="stylesheet" href="{{ static('css/simple-lightbox.min.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
{% endblock %}

{% block meta_social %}
{{ super() }}
<meta property="og:description"  content="{% if post.meta_description %}{{ post.meta_description }}{% else %}{{ post.title }}{% endif %}" />
<meta property="og:type"         content="article" />
{% if post.background_image.url %}
<meta property="og:image"        content="{{ request.build_absolute_uri(post.background_image.url) }}" />
<meta property="og:image:width"  content="{{ post.background_image.width }}" />
<meta property="og:image:height" content="{{ post.background_image.height }}" />
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{{ static('js/simple-lightbox.min.js') }}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
{% if post.pdf_file %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js" integrity="sha256-rYPX3dXq8Nh532EvCS2foeyTgmzbcC8u+nCk/rEtKXA=" crossorigin="anonymous"></script>
<script>PDFObject.embed("{{ post.pdf_file.url }}", ".pdf__wrapper");</script>
{% endif %}
<script src="{{ static('js/article.min.js') }}" defer></script>
{% endblock %}

{% block meta_description %}
	<meta name="description" content="{% if post.meta_description %}{{ post.meta_description }}{% else %}{{ post.title }}{% endif %}">
{% endblock %}

{% block json_ld %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if "blog" in categories %}BlogPosting{% else %}Article{% endif %}",
  "mainEntityOfPage": "{{ request.build_absolute_uri() }}",
  "headline": "{{ post.title }}",
  "image": "{{ request.get_host() }}{{ post.background_image.url }}",
  "author": {
    "@type": "Person",
    "name": "{{ MARO_NAME }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ MARO_NAME }}",
    "logo": {
      "@type": "ImageObject",
	  "url": "{{ request.get_host() }}{{ static('img/logo_name.png') }}",
      "width": 60,
      "height": 60
    }
  },
  "datePublished": "{{ post.created_at.strftime("%Y-%m-%d") }}",
  "dateModified": "{{ post.updated_at.strftime("%Y-%m-%d") }}"
}
</script>
{% endblock %}


{% block article %}

	<div class="article__content">
		<header class="article__header lazy" data-bg="linear-gradient(to left,rgba(0, 0, 0, 0),rgba(0, 0, 0, .5)){% if post.background_image.url %}, url('{{ post.background_image.url }}'){% endif %}">
			<div class="article__header__text">
				<h1>{{ post.title }}</h1>
				{% if "blog" in categories %}<span class="header__date-published">{{ _("Published") }} {{ post.created_at.strftime("%b %-d, %Y") }}</span>{% endif %}
			</div>
		</header>

		<main class="article">

			{% if post.short_content %}<h3 class="article__subtitle">{{ post.short_content }}</h3>{% endif %}

			{% if post.images.count() %}
			<aside class="article__gallery">
				<div class="article__gallery__wrapper">
				{% for img_deposit in post.images.all() %}
					<a class="image-wrapper" href="{{ img_deposit.large_img.url }}">
						<img
							class="gallery__image tns-lazy-img"
							src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
							data-src="{{ img_deposit.large_img.url }}"
						    alt="{{ img_deposit.alt_text }}"
							draggable="false"
						    width="{{ img_deposit.large_img.width }}"
						    height="{{ img_deposit.large_img.height }}"
						>
					</a>
				{% endfor %}
				</div>
			</aside>
			{% endif %}

			{% if post.content %}
			<article class="article__text">
				<div>{{ post.content|safe }}</div>
				{% if post.pdf_file %}
				<div class="pdf__wrapper"></div>
				{% endif %}
			</article>
			{% endif %}

		</main>
	</div>
{% endblock %}
