{% extends "base/index.html" %}


{% block meta_description %}
	<meta name="description" content="{% if post.meta_description %}{{ post.meta_description }}{% else %}{{ post.title }}{% endif %}">
{% endblock %}

{% block meta_social %}
{{ super() }}
<meta property="og:description"  content="{% if post.meta_description %}{{ post.meta_description }}{% else %}{{ post.title }}{% endif %}" />
<meta property="og:type"         content="article" />
<meta property="og:image"        content="{{ request.build_absolute_uri(static('img/social/about_me.jpg')) }}" />
<meta property="og:image:width"  content="1920" />
<meta property="og:image:height" content="1422" />
{% endblock %}


{% block json_ld %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": "{{ request.build_absolute_uri() }}",
  "headline": "{{ post.title }}",
  "image": "{{ request.get_host() }}{{ post.thumbnail.url }}",
  "author": {
    "@type": "Person",
    "name": "{{ MARO_NAME }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ MARO_NAME }}",
    "logo": {
      "@type": "ImageObject",
	  "url": "{{ request.get_host() }}{{ static('img/logo_name.png') }}",
      "width": 60,
      "height": 60
    }
  },
  "datePublished": "{{ post.created_at.strftime("%Y-%m-%d") }}",
  "dateModified": "{{ post.updated_at.strftime("%Y-%m-%d") }}"
}
</script>
{% endblock %}


{% block article %}

	<div class="article__timeline">
		<main class="article__timeline__wrapper">
			{% for entry in post.timeline_entries.all() %}
				<div class="article__timeline__entry">
					<div class="article__timeline__icon">
						<img src="{{ entry.icon_path() }}" alt="">
					</div>
					<div class="article__timeline__content">
						<h1 class="content__heading">{{ entry.heading }}</h1>
						<span class="content__date">{{ entry.updated_at.strftime("%b %-d, %Y") }}</span>
						{% if entry.image.url %}
							<img class="content__image" src="{{ entry.image.url }}" alt="{{ entry.alt_text }}">
						{% endif %}
						<p class="content__text">{{ entry.content }}</p>
					</div>
				</div>
			{% endfor %}

		</main>
	</div>

{% endblock %}
