{% extends "base/index.html" %}


{% block content_wrapper_extra_classes %} portfolio{% endblock %}

{% block extra_js %}
<script src="{{ static('js/jquery.filterizr.min.js') }}" defer></script>
<script src="{{ static('js/blog.js') }}" defer></script>
{% endblock %}

{% block meta_social %}
{{ super() }}
<meta property="og:description"  content="{% if category.meta_description %}{{ category.meta_description }}{% else %}{{ category.name }}{% endif %}" />
{% if category.social_photo.url %}
<meta property="og:image"        content="{{ request.build_absolute_uri(category.social_photo.url) }}" />
<meta property="og:image:width"  content="{{ category.social_photo.width }}" />
<meta property="og:image:height" content="{{ category.social_photo.height }}" />
{% endif %}
{% endblock %}

{% block meta_description %}
	<meta name="description" content="{% if category.meta_description %}{{ category.meta_description }}{% else %}{{ category.name }}{% endif %}">
{% endblock %}


{% block blog %}

	<div class="portfolio__content">
		<header>
			{% if category.header %}<h3>{{ category.header }}</h3>{% endif %}
		</header>
		<aside>
			<div class="tags__container">
				{% if tags %}
					<span class="tag active" data-filter="all" title="{{ _('See all posts') }}">{{ _("ALL") }}</span>
					{% for tag in tags %}
						<span class="tag" data-filter="{{ tag.slug }}" title="{{ _('Filter posts by') }} '{{ tag.name }}'">{{ tag.name }}</span>
					{% endfor %}
				{% endif %}
			</div>
		</aside>
		<main class="portfolio__content__main">
			<div class="portfolio__spinner">
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" version="1.1" y="0px" x="0px" viewBox="-100 0 200 200"><path id="half-circle" d="m0 0.9882034c54.66894 0 99.0118 44.32368 99.0118 99.02414 0 54.70047-44.34286 98.99945-99.0118 98.99945" stroke="#bbb" stroke-width="1.976407" fill="none"/></svg>
			</div>
			<section class="portfolio__content__posts">
				{% for post in posts %}
					{% set thumb_lg = thumbnail(post.thumbnail, size=(470, 300), quality=75) %}
					{% set thumb_md = thumbnail(post.thumbnail, size=(300, 192), quality=75) %}
{#					{% set thumb_md = thumbnail(post.thumbnail, size=(400, 256), quality=75) %}#}
{#					{% set thumb_sm = thumbnail(post.thumbnail, size=(300, 192), quality=75) %}#}
					<a href="{{ post.get_absolute_url() }}"
					   class="post__preview__wrapper filtr-item"
					   title="{{ _('Read') }} '{{ post.title }}'"
					   data-category="{{ post.tags_as_csv() }}"
					>
						<img class="post__thumbnail"
						     srcset="{{ thumb_md.url }} 300w,
						             {{ thumb_lg.url }} 470w"
						     sizes="(min-width: 1920px) 470px,
									300px"
						     src="{{ thumb_lg.url }}" alt="{{ post.alt_text }}">
						<div class="post__text__wrapper">
							<p class="post__title">{{ post.title}}</p>
						</div>
					</a>
				{% endfor %}
			</section>
{#			{% if posts.paginator.num_pages > 1 %}#}
{#				{{ show_pagination(posts) }}#}
{#            {% endif %}#}
		</main>
	</div>

{% endblock %}
