<div class="pagination">

    {% if has_previous() %}
	    <span><a href="?page={{ previous() }}" title="Previous page">&#10154;</a></span>
    {% endif %}

    {% if show_first %}
	    <span><a href="?page=1" title="First page">1</a></span>
        <span class="ellipsis">...</span>
    {% endif %}

    {% for page in page_numbers %}
        {% if current_page == page %}
            <span class="current-page" title="You are on page {{ page }}">{{ page }}</span>
        {% else %}
	        <span><a href="?page={{ page }}" title="Page {{ page }}">{{ page }}</a></span>
        {% endif %}
    {% endfor %}

    {% if show_last %}
        <span class="ellipsis">...</span>
	    <span><a href="?page={{ num_of_pages }}" title="Last page">{{ num_of_pages }}</a></span>
   {% endif %}

    {% if has_next() %}
	    <span><a href="?page={{ next() }}" title="Next page">&#10154;</a></span>
    {% endif %}

</div>