.filebrowser .navigator-table .column-icon img {
	width: unset !important;
}

form .form-row .filer-dropzone .filerFile img {
	width: unset !important;
	height: unset !important;
	margin-top: -13px;
}